.Rhistory
.RData
.Rproj.user/
.DS_Store

*.aux
*.log
*.out
*.err
*.pdf
*.html

results/raw/*
results/summary/*
results/figures/*
logs/*

!results/raw/.gitkeep
!results/summary/.gitkeep
!results/figures/.gitkeep
!logs/.gitkeep
